.env
.env.docker
memory_usage.log
benchmark_report.txt
.metals
rust_write/target
.vscode
data/*.csv
pyspark_copy/data
elusion/target

# Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfstate.d/


rust_copy/target/