[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
psycopg2-binary = "*"
connectorx = "*"
pyarrow = "*"
sqlalchemy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
