[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
polars = "*"
psycopg2-binary = "*"
adbc-driver-postgresql = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
